@import "_variables";

* {
  font-family: $primaryText;
  color: $primaryColor;
}

.hangman {
  
  &__header {
    font-size: 60px;
  }

  &__word {

    &__counter {

      &__winning-message {
        font-size: 40px;
      }

      &__text {
        font-size: 25px;
      }

    }

    .guess {
      font-size: 30px;
    }

  }

  &__guess {

    &__letters {

      > li {
        font-size: 30px;
      }

    }

  }

  &__submit-guess {

    &__input, &__btn {
      font-size: 25px;
    }
  }

}