@import "_variables";

* {
  font-family: $primaryText;
  color: $primaryColor;
}

.hangman {
  
  &__header {
    font-size: 60px;
  }

  .countdown {

    &__end-message {
      font-size: 40px;
    }

    &__title-text, &__guess-number {
      font-size: 25px;
    }

    &__guess-word {
      font-size: 30px;
    }

  }

  .guessing {

    &__letter {
      font-size: 30px;
    }

  }

  .user-inputs {

    &_guess, &__btn {
      font-size: 25px;
    }
    
  }

}